{
  "listen": ":12345",
  "tls": {
    "cert": "/etc/ssl/xxx.com.cer",
    "key": "/etc/ssl/xxx.com.key"
  },
  "auth": {
    "type": "userpass",
    "userpass": {
      "yourname": "password"
    }
  },
  "masquerade": {
    "type": "proxy",
    "proxy": {
      "url": "https://x.com/",
      "rewriteHost": true
    }
  }
}
