{{define "theme-default/footer"}}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <p>
            <a style="margin-right: 20px;" href="https://www.kilvn.cn">服务器状态</a>
            &copy; 2024 <a target="_blank" href="https://www.kilvn.com">逆天西瓜</a> Corp.
        </p>
        <p>
            自豪地使用 <a href='https://github.com/nezhahq/nezha' target='_blank'>nezha</a> 构建。
        </p>
    </div>
</div>
{{ if not .Conf.DisableSwitchTemplateInFrontend }}
<script>
    function showSwitchTemplate(list, currentBackendTheme) {
        console.log(list, currentBackendTheme);
        console.log("currentBackendTheme:",currentBackendTheme);
    }
    showSwitchTemplate({{ .Themes }}, {{ .Conf.Site.Theme }})
</script>
{{ end }}
<style>
    .footer a {
        color: #3bd671;
        font-weight: 700;
    }
</style>
</body>
</html>
{{end}}
